[submodule "jaudiotagger-android"]
	path = jaudiotagger-android
	url = https://gitee.com/lalilu/jaudiotagger-android.git

[submodule "lmedia"]
	path = lmedia
	url = https://gitee.com/lalilu/lmedia.git

# [submodule "remote"]
# 	path = remote
# 	url = https://gitee.com/lalilu/remote.git
