<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="lmusic.extension" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}">

        <meta-data
            android:name="lmusic.extension.class"
            android:value="${extClass}" />
    </application>
</manifest>